<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
</head>
<body class="theme-dark cheatsheet">
<div id="app">
    <div class="guide-cheatsheet">
        <div class="guide-cheatsheet__synergy" style="overflow-x: auto;display: flex;align-items: center;">
            <div style="min-width: 1100px;float: left;display: flex;width: 33%;">
                <div id="championEngNames" style="max-width: 300px;">
                    <div v-for="championEngNameObj in championEngNames">
                        {{championEngNameObj.championEngName}}
                    </div>
                </div>
                <div id="championIds" style="max-width: 300px;">
                    <draggable v-model="championIds" draggable=".championIdList" :move="checkMove">
                        <div v-for="championIdObj in championIds" class="championIdList">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                            {{championIdObj.championId}}
                            <input type="checkbox" v-model="championIdObj.isFixed">
                        </div>
                    </draggable>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<script src="/js/championMatches.js"></script>
</html>