<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
</head>
<body class="theme-dark cheatsheet">
<div id="app">
    <div class="guide-cheatsheet">
        <button v-on:click="putMatcheDatas">제출</button>

        <div style="display: inline-block;">
            <div style="min-width: 1100px;float: left;display: flex;width: 33%;">
                <div style="width: 500px;">
                    <div>제외할 문자열
                        <div v-for="(removeString, index) in removeEngStrings">
                            <input type="text" v-on:keyup.enter="newRemoveEngString(index)"
                                   v-model="removeString.target"/>
                            <button v-on:click="removeEngStringInput(index)">삭제</button>
                        </div>

                    </div>
                </div>
                <div style="width: 500px;">
                    <div>제외할 문자열
                        <div v-for="(removeString, index) in removeIdStrings">
                            <input type="text" v-on:keyup.enter="newRemoveIdString(index)"
                                   v-model="removeString.target"/>
                            <button v-on:click="removeIdStringInput(index)">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-width: 1100px;float: left;display: flex;width: 33%;">
                <div style="width: 500px;">

                    <div>대체할 문자열
                        <div v-for="(value, index) in replaceEngStrings">
                            <input type="text"
                                   v-model="value.searchValue"/>
                            <input type="text" v-on:keyup.enter="newReplaceEngString(index)"
                                   v-model="value.replaceValue"/>
                            <button v-on:click="replaceEngStringInput(index)">삭제</button>
                        </div>
                    </div>
                </div>
                <div style="width: 500px;">
                    <div>대체할 문자열
                        <div v-for="(value, index) in replaceIdStrings">
                            <input type="text"
                                   v-model="value.searchValue"/>
                            <input type="text" v-on:keyup.enter="newReplaceIdString(index)"
                                   v-model="value.replaceValue"/>
                            <button v-on:click="replaceIdStringInput(index)">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button v-on:click="matchMostSimilarity">비교</button>
        <div>
            <input type="checkbox" v-on:click="toggleAlias">
            <label>이명으로 검색하기</label>
        </div>
        <div>
            <input type="text" v-on:keyup.enter="matchMostSimilarity" v-model="searchTarget"/>
        </div>
        <div>
            <div class="guide-cheatsheet__synergy" style="overflow-x: auto;display: flex;align-items: center;">
                <div style="min-width: 1800px;float: left;display: flex;width: 33%;">
                    <div id="engNames" style="width: 500px;">
                        <draggable v-model="engNameValues" draggable=".engNameList" :move="checkMove"
                                   @end="handleEngNames">
                            <div v-for="engNameObj in engNameValues" class="engNameList"
                                 style="height: 50px;display: flex;">
                                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                <span style="background-color: grey;"><img v-bind:src="engNameObj.imageUrl"
                                                                           style="height: 50px;"></span>
                                <div><span v-bind:title="engNameObj.original">{{engNameObj.target}}</span>
                                    <!--                                    <span>{{engNameObj.engName}}</span>-->
                                </div>
                            </div>
                        </draggable>
                    </div>
                    <div id="dataIds" style="width: 500px;">
                        <draggable v-model="dataIdValues" draggable=".dataIdList" :move="checkMove" @end="handleIds">
                            <div v-for="dataIdObj in dataIdValues" class="dataIdList" style="height: 50px;">
                                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                <span v-bind:title="dataIdObj.original">{{dataIdObj.target}}</span>
                                <!--                                <span>{{dataIdObj.dataId}}</span>-->
                                <input type="checkbox" v-model="dataIdObj.isFixed">
                            </div>
                        </draggable>
                    </div>
                    <div id="similarities" style="max-width: 500px;">
                        <div v-for="similarity in similarities" class="similarities" style="height: 50px;">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                            <span>{{similarity}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<script th:inline="javascript">
    const subUrl = [[${subUrl}]]
</script>
<script src="/js/compareStringUtil.js"></script>
<script src="/js/arrayUtils.js"></script>
<script src="/js/matches.js"></script>
</html>